@model Employee_Survey.Domain.Question
<h2>Edit Question</h2>
<form method="post" enctype="multipart/form-data">
    @Html.Partial("_Form", Model)
    <button class="btn btn-primary">Save</button>
</form>
